@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono",
    Consolas, "Liberation Mono", Menlo, monospace;
  --font-protest-guerrilla: "Protest Guerrilla";
}

@layer base {
  /* Override scrollbar styles */
  *,
  ::after,
  ::before {
    @apply /* Applied Styles */
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:bg-neutral-800
    [&::-webkit-scrollbar-thumb]:bg-neutral-600;
  }
}
